<div style="text-align: center" *ngIf="!state">
    <img src="../../../../assets/broken-link.png" alt="broken-link" style="width: 150px;">
    <h2>Broken link</h2>
</div>
<div style="text-align: center" *ngIf="state">
    <h2>Update Password</h2>
    <p>
      You can create new password
    </p>
</div>
<div class="update-password" *ngIf="state">
    <form [formGroup]="frm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                aria-describedby="password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && frm.controls.password?.errors }"
            />
            <small
                class="form-text text-muted"
                *ngIf="submitted && frm.controls.password?.errors"
            >
                Password is required.
            </small>
        </div>
        <div class="mb-3">
            <label for="rePassword" class="form-label">Enter the password again</label>
            <input
                type="password"
                class="form-control"
                id="rePassword"
                placeholder="Password again"
                aria-describedby="rePassword"
                formControlName="rePassword"
                [ngClass]="{ 'is-invalid': (submitted && frm.controls.rePassword?.errors) || (submitted && frm.errors?.notMatched)}"
            />
            <small
                class="form-text text-muted"
                *ngIf="(submitted && frm.controls.rePassword?.errors) || (submitted && frm.errors?.notMatched)"
            >
                Passwords do not match.
            </small>
        </div>
        <button type="submit" class="btn btn-primary w-50 mt-2">Update Password</button>
    </form>
</div>
