table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: none;
}

th, td {
  text-align: center;
}

.two-factor-condition{
  display: flex;
  justify-content: center;
}

.two-factor-condition img{
  width: 30px;
}

.mat-mdc-form-field{
  margin-top: 8px;
}