<div class="background-gif">
  <h3>
    Of course! Here's an expanded version that encompasses a broader range of
    products: Stay ahead of the curve with our curated selection At 
    E-Commerce, we pride ourselves on offering a diverse range of products
    to cater to every aspect of your lifestyle. Whether you're in search of
    fashion-forward clothing and accessories, cutting-edge gadgets and
    electronics, or stylish home essentials, we've got you covered. Our
    carefully curated collection features a wide variety of items, ensuring that
    there's something for everyone.
    <a routerLink="/products">Check our products</a>
  </h3>
  <div class="buttons">
    <button mat-raised-button color="primary" routerLink="/login">
      Sign In
    </button>
    <button mat-raised-button color="accent" routerLink="/register">
      Sign Up
    </button>
  </div>
</div>
