.card {
   float: left;
   margin-bottom: 25px;
   height: 400px;
   width: 21%;
   min-width: 15rem;
}

.card-img-top {
   height: 270px;
   object-fit: cover;
}

.cards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;
   gap: 20px;
}

.pagination-product {
   width: 100%;
}

.nav-link:hover {
   color: rgb(48, 65, 14);
}

a {
   cursor: pointer;
}

.pagination-product {
   display: flex;
   justify-content: center;
}