.content {
    margin-top: 20px;
    background-color: #ffffff;
}

.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: transparent !important;
    background-color: #ffffff;
}

.navbar-nav {
    font-size: large;
}

.navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.6);
}

.basket-section {
    margin-right: 25px;
}

.basket-icon {
    font-size: 34px;
    cursor: pointer;
}

.modal {
    top: 0;
    z-index: 1052 !important;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.modal-dialog.modal-dialog-right {
    margin-right: 0;
    margin-left: auto;
    height: 100%;
}

.modal-dialog {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

::ng-deep .cdk-overlay-container {
    z-index: 1053 !important;
}

.footer {
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #312c2b;
    color: #cacaca;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.information{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.information-content{
    min-width: 180px;
    max-width: 750px;
    padding: 15px;
}

.information-content p{

    
}

.information-icons{
    min-width: 350px;
    max-width: 750px;
    text-align: center;
    padding: auto;
}

.information-icons p a{
    margin-right: 30px;
    color: #cacaca;
} 
