<div style="text-align: center">
  <h2>Reset Password</h2>
  <p>
    We need your email address so that we can send you the password renewal
    link.
  </p>
</div>
<div class="password-reset">
  <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
    <div class="mb-3">
      <label for="email" class="form-label">E-Mail</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="example@example.com"
        aria-describedby="emailHelp"
        formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && frm.controls.email.errors }"
      />
      <small
        class="form-text text-muted"
        *ngIf="submitted && frm.controls.email.errors"
      >
        Please enter valid email
      </small>
    </div>
    <button type="submit" class="btn btn-primary w-25 mt-2">Send</button>
  </form>
</div>
