<mat-list class="list" role="list">
  <a mat-list-item class="listitem" routerLink="/admin">Dashboard</a>
  <a mat-list-item class="listitem" routerLink="customers">Customers</a>
  <a mat-list-item class="listitem" routerLink="products">Products</a>
  <a mat-list-item class="listitem" routerLink="orders">Orders</a>
  <a mat-list-item class="listitem" routerLink="authorize-menu">Authorize Menu</a>
  <a mat-list-item class="listitem" routerLink="roles">Roles</a>
  <a mat-list-item class="listitem" routerLink="">Siteyi Gör</a>
</mat-list>
