.list a{
    cursor: pointer;
}

.list a:hover{
    background-color: rgba(128, 128, 128, 0.13);
}

.listitem {
    text-decoration: none;
}

.listitem:hover,
.listitem:focus {
    color: grey;
   font-weight: 800;
}